#### 1- K√ºt√ºphanelerin Y√ºklenmesi

In [14]:
import numpy as np ## numpy k√ºt√ºphanesinin import edilmesi
import pandas as pd ## pandas k√ºt√ºphanesinin import edilmesi
import seaborn as sns ## seaborn k√ºt√ºphanesinin import edilmesi
import matplotlib.pyplot as plt ## matplotlip k√ºt√ºphanesinin import edilmesi
import datetime as dt ## datetime k√ºt√ºphanesinin import edilmesi
pd.pandas.set_option('display.max_columns', None) ## dataframein t√ºm sutunlarƒ±nƒ±n g√∂r√ºlmesi i√ßin gereken kod

### 2- Verisetinin Y√ºklenmesi

In [15]:
from google.colab import files

print("L√ºtfen MarketSales.xlsx dosyasƒ±nƒ± se√ßin üëá")
uploaded = files.upload()  # Dosya se√ßme penceresi a√ßƒ±lƒ±r

file_name = list(uploaded.keys())[0]  # Y√ºklenen dosyanƒ±n adƒ±nƒ± otomatik alƒ±r
print(f"\n‚úÖ '{file_name}' ba≈üarƒ±yla y√ºklendi!")

# 4Ô∏è‚É£ Excel dosyasƒ±nƒ± pandas ile oku
data = pd.read_excel(file_name)

L√ºtfen MarketSales.xlsx dosyasƒ±nƒ± se√ßin üëá

Saving MarketSales.xlsx to MarketSales (2).xlsx

‚úÖ 'MarketSales (2).xlsx' ba≈üarƒ±yla y√ºklendi!

KeyboardInterrupt:

In [16]:
data.head(2)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Ey√ºp Cƒ∞NE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRƒ∞TE,ƒ∞√áECEK,GAZLI ƒ∞√áECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,ƒ∞lhan √ñRENLƒ∞,Antalya,Akdeniz,36.8841,30.7056,131464,ƒ∞smet ≈ûINGIR,NaN,NaN,ƒ∞√áECEK,√áAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E

### 3- Verisetinin Orjinalƒ±nde deƒüi≈üiklik gelmemesei i√ßin veriyi ba≈üka bir deƒüi≈ükene atayƒ±n

In [17]:
df=data.copy()

### 4-Verisetinin Boyutlarƒ±na bulunuz

In [18]:
df.shape

(611108, 26)

### 5-Verisetinin Sutunlarƒ±nƒ±n ƒ∞simlerini Yazdƒ±rƒ±n

In [19]:
df.columns

Index(['ID', 'ITEMCODE', 'ITEMNAME', 'FICHENO', 'DATE_', 'AMOUNT', 'PRICE',
       'LINENETTOTAL', 'LINENET', 'BRANCHNR', 'BRANCH', 'SALESMAN', 'CITY',
       'REGION', 'LATITUDE', 'LONGITUDE', 'CLIENTCODE', 'CLIENTNAME',
       'BRANDCODE', 'BRAND', 'CATEGORY_NAME1', 'CATEGORY_NAME2',
       'CATEGORY_NAME3', 'STARTDATE', 'ENDDATE', 'GENDER'],
      dtype='object')

### 6- Veri setinin bilgilerine ula≈üƒ±lmasƒ±

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611108 entries, 0 to 611107
Data columns (total 26 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              611107 non-null  float64
 1   ITEMCODE        603941 non-null  float64
 2   ITEMNAME        603941 non-null  object
 3   FICHENO         611108 non-null  int64
 4   DATE_           611107 non-null  datetime64[ns]
 5   AMOUNT          611107 non-null  float64
 6   PRICE           611107 non-null  float64
 7   LINENETTOTAL    611107 non-null  float64
 8   LINENET         611107 non-null  float64
 9   BRANCHNR        611107 non-null  float64
 10  BRANCH          611107 non-null  object
 11  SALESMAN        611108 non-null  object
 12  CITY            611107 non-null  object
 13  REGION          611107 non-null  object
 14  LATITUDE        611107 non-null  float64
 15  LONGITUDE       611107 non-null  float64
 16  CLIENTCODE      592760 non-null  object
 17  CLIENTNAME      592743 non-null  object
 18  BRANDCODE       575551 non-null  object
 19  BRAND           575551 non-null  object
 20  CATEGORY_NAME1  603941 non-null  object
 21  CATEGORY_NAME2  583448 non-null  object
 22  CATEGORY_NAME3  401649 non-null  object
 23  STARTDATE       611108 non-null  datetime64[ns]
 24  ENDDATE         611108 non-null  datetime64[ns]
 25  GENDER          592743 non-null  object
dtypes: datetime64[ns](3), float64(9), int64(1), object(13)
memory usage: 121.2+ MB

### 7- Veri Setinde Bo≈ü Deƒüer Varmƒ± sorgulanmasƒ±

In [21]:
df.isnull().any()

ID                 True
ITEMCODE           True
ITEMNAME           True
FICHENO           False
DATE_              True
AMOUNT             True
PRICE              True
LINENETTOTAL       True
LINENET            True
BRANCHNR           True
BRANCH             True
SALESMAN          False
CITY               True
REGION             True
LATITUDE           True
LONGITUDE          True
CLIENTCODE         True
CLIENTNAME         True
BRANDCODE          True
BRAND              True
CATEGORY_NAME1     True
CATEGORY_NAME2     True
CATEGORY_NAME3     True
STARTDATE         False
ENDDATE           False
GENDER             True
dtype: bool

### 8- Verisetindeki Sutunlarda Toplam Ka√ß Adet Deƒüer Var Bulunuz

In [22]:
df.isnull().sum()

ID                     1
ITEMCODE            7167
ITEMNAME            7167
FICHENO                0
DATE_                  1
AMOUNT                 1
PRICE                  1
LINENETTOTAL           1
LINENET                1
BRANCHNR               1
BRANCH                 1
SALESMAN               0
CITY                   1
REGION                 1
LATITUDE               1
LONGITUDE              1
CLIENTCODE         18348
CLIENTNAME         18365
BRANDCODE          35557
BRAND              35557
CATEGORY_NAME1      7167
CATEGORY_NAME2     27660
CATEGORY_NAME3    209459
STARTDATE              0
ENDDATE                0
GENDER             18365
dtype: int64

### 9- Verisetinde Toplam Ka√ß Adet Deƒüer Var Bulunuz

In [23]:
df.isnull().sum().sum()

np.int64(384824)

### 10- Verisetinde Bo≈ü Deƒüer Olan Sutunlarƒ±n ƒ∞simlerini yazdƒ±ralƒ±m

In [24]:
df.isnull().any()

ID                 True
ITEMCODE           True
ITEMNAME           True
FICHENO           False
DATE_              True
AMOUNT             True
PRICE              True
LINENETTOTAL       True
LINENET            True
BRANCHNR           True
BRANCH             True
SALESMAN          False
CITY               True
REGION             True
LATITUDE           True
LONGITUDE          True
CLIENTCODE         True
CLIENTNAME         True
BRANDCODE          True
BRAND              True
CATEGORY_NAME1     True
CATEGORY_NAME2     True
CATEGORY_NAME3     True
STARTDATE         False
ENDDATE           False
GENDER             True
dtype: bool

In [25]:
df.isnull().any() == False ### t√ºm deƒüerleri dolu olan sutunlar i√ßin

ID                False
ITEMCODE          False
ITEMNAME          False
FICHENO            True
DATE_             False
AMOUNT            False
PRICE             False
LINENETTOTAL      False
LINENET           False
BRANCHNR          False
BRANCH            False
SALESMAN           True
CITY              False
REGION            False
LATITUDE          False
LONGITUDE         False
CLIENTCODE        False
CLIENTNAME        False
BRANDCODE         False
BRAND             False
CATEGORY_NAME1    False
CATEGORY_NAME2    False
CATEGORY_NAME3    False
STARTDATE          True
ENDDATE            True
GENDER            False
dtype: bool

In [26]:
df.columns[df.isnull().any()]

Index(['ID', 'ITEMCODE', 'ITEMNAME', 'DATE_', 'AMOUNT', 'PRICE',
       'LINENETTOTAL', 'LINENET', 'BRANCHNR', 'BRANCH', 'CITY', 'REGION',
       'LATITUDE', 'LONGITUDE', 'CLIENTCODE', 'CLIENTNAME', 'BRANDCODE',
       'BRAND', 'CATEGORY_NAME1', 'CATEGORY_NAME2', 'CATEGORY_NAME3',
       'GENDER'],
      dtype='object')

In [27]:
df.columns[df.isnull().any() == False]

Index(['FICHENO', 'SALESMAN', 'STARTDATE', 'ENDDATE'], dtype='object')

### 11-Verisetinin Sutunlarƒ±nda Ka√ß farklƒ± Tip var Onu Bulalƒ±m

In [28]:
df.dtypes.nunique()

4

### 12- Verisetinin Sutunlarƒ±ndaki E≈üsiz Tipler Nelerdir Onlara Bakalƒ±m

In [29]:
df.dtypes.unique()

array([dtype('float64'), dtype('O'), dtype('int64'), dtype('<M8[ns]')],
      dtype=object)

### 13-Verisetinin ƒ∞lk 5 Satƒ±rƒ±nƒ± Yazdƒ±ralƒ±m

In [30]:
df.head()

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Ey√ºp Cƒ∞NE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRƒ∞TE,ƒ∞√áECEK,GAZLI ƒ∞√áECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,ƒ∞lhan √ñRENLƒ∞,Antalya,Akdeniz,36.8841,30.7056,131464,ƒ∞smet ≈ûINGIR,NaN,NaN,ƒ∞√áECEK,√áAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E
2,11335.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,ƒ∞stanbul Subesi,ƒ∞smet SARTIK,ƒ∞stanbul,Marmara,41.0053,28.9770,656969,Yaƒüƒ±z KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
3,11336.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,ƒ∞stanbul Subesi,ƒ∞smet SARTIK,ƒ∞stanbul,Marmara,41.0053,28.9770,656969,Yaƒüƒ±z KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
4,10115.0,12808.0,FALIM SAKIZ 5LI CILEK,18005,2017-01-05,1.0,0.40,0.40,0.37,41.0,ƒ∞zmir Subesi,G√ºlten I≈ûLAK,ƒ∞zmir,Ege,38.4189,27.1287,447336,Habibe AYSAN,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-06 14:00:30,2017-01-06 14:01:03,K

### 14-Verisetinin son 7 Satƒ±rƒ±nƒ± Yazdƒ±ralƒ±m

In [31]:
df.tail(n=7)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
611101,511342.0,6480.0,UNO KEPEKLI EKMEK 470GR.,134601,2017-03-18,1.0,3.25,3.25,3.22,73.0,Tekirdaƒü Subesi,Aleyna √áUKUREL,Tekirdaƒü,Marmara,40.9833,27.5167,16670,Berat √ñGMEN,145,UNO,GIDA,UNLU MAM√úLLER,EKMEK,2017-03-19 18:54:51,2017-03-19 18:54:58,E
611102,512198.0,7.0,EKMEK 250 GR,134742,2017-03-18,1.0,0.90,0.90,0.89,40.0,ƒ∞stanbul Subesi,ƒ∞smet SARTIK,ƒ∞stanbul,Marmara,41.0053,28.9770,523722,√ñzcan PAPƒ∞R,NaN,NaN,GIDA,UNLU MAM√úLLER,EKMEK,2017-03-19 16:09:39,2017-03-19 16:11:10,E
611103,511703.0,7.0,EKMEK 250 GR,134656,2017-03-18,1.0,0.90,0.90,0.89,66.0,Sakarya Subesi,Beren BULGURCU,Sakarya,Marmara,40.6940,30.4358,374191,Mahmut BAYATGƒ∞L,NaN,NaN,GIDA,UNLU MAM√úLLER,EKMEK,2017-03-19 09:39:54,2017-03-19 09:40:50,E
611104,511496.0,7.0,EKMEK 250 GR,134630,2017-03-18,1.0,0.90,0.90,0.89,7.0,Ankara Subesi,Eda SINAV,Ankara,ƒ∞√ß Anadolu,39.9208,32.8541,656248,Gamze BOTU√á,NaN,NaN,GIDA,UNLU MAM√úLLER,EKMEK,2017-03-19 20:30:58,2017-03-19 20:31:17,K
611105,492612.0,7.0,EKMEK 250 GR,130100,2017-03-15,1.0,0.90,0.90,0.89,59.0,Muƒüla Subesi,Nisa nur SAƒûIM,Muƒüla,Ege,37.2153,28.3636,78643,Cengiz BEREKET√áƒ∞,NaN,NaN,GIDA,UNLU MAM√úLLER,EKMEK,2017-03-16 17:51:04,2017-03-16 17:51:18,E
611106,512343.0,7.0,EKMEK 250 GR,134762,2017-03-18,1.0,0.90,0.90,0.88,40.0,ƒ∞stanbul Subesi,Arife DORAP,ƒ∞stanbul,Marmara,41.0053,28.9770,926041,Elifnur EGƒ∞NKAYA,NaN,NaN,GIDA,UNLU MAM√úLLER,EKMEK,2017-03-19 17:00:12,2017-03-19 17:01:20,K
611107,512179.0,3942.0,ETI 80 GR KARAM BITTER,134738,2017-03-18,1.0,1.90,1.90,1.76,74.0,Tokat Subesi,L√ºtfiye D√ñ≈ûEME,Tokat,Karadeniz,40.3167,36.5500,241748,Hacer CANDEMƒ∞R,44,ETƒ∞,GIDA,B√úSKƒ∞Vƒ∞ √áEREZ,B√úSKƒ∞Vƒ∞,2017-03-19 16:00:15,2017-03-19 16:00:37,K

### 15- Verisetinde her satƒ±r i√ßin AMOUNT PRICE LINENETTOTAL sutunlarƒ±na ait bilgileri yazdƒ±ralƒ±m

In [32]:
df["AMOUNT"].head()

0    1.0
1    5.0
2    1.0
3    1.0
4    1.0
Name: AMOUNT, dtype: float64

In [33]:
df["AMOUNT","PRICE"]

KeyError: ('AMOUNT', 'PRICE')

In [34]:
df[["AMOUNT","PRICE","LINENETTOTAL"]].head()

   AMOUNT  PRICE  LINENETTOTAL
0     1.0   2.00          2.00
1     5.0   2.65         13.25
2     1.0   0.40          0.40
3     1.0   0.40          0.40
4     1.0   0.40          0.40

### 16- Verisetinde LINENETTOTAL sutunda 15 den b√ºy√ºk olan satƒ±rlarƒ± yazdƒ±ralƒ±m

In [35]:
df[df["LINENETTOTAL"] > 15].head(3)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
62,9745.0,10429.0,YUDUM AYCICEK YAGI 5 LT TNK,17902,2017-01-06,1.0,20.49,20.49,18.97,12.0,Balƒ±kesir Subesi,Sami KASIMOVA,Balƒ±kesir,Ege,39.6484,27.8826,521495,Bilal PORSUK,152,YUDUM,GIDA,SIVI YAƒûLAR,AY√áƒ∞√áEK,2017-01-07 14:28:00,2017-01-07 14:29:39,E
64,3322.0,19108.0,F NEFFIS AYCICEK YAGI 5 LT PET,16540,2017-01-05,1.0,17.90,17.90,16.57,39.0,Isparta Subesi,Elif nur G√úNLER,Isparta,Akdeniz,37.7648,30.5566,791614,Tayfun BATAK,49,F NEFFƒ∞S,GIDA,SIVI YAƒûLAR,AY√áƒ∞√áEK,2017-01-06 20:08:26,2017-01-06 20:08:39,E
95,5317.0,6217.0,LD LODOS DENƒ∞ZCƒ∞Sƒ∞ SLƒ∞MS,16903,2017-01-05,10.0,5.00,50.00,50.00,70.0,Sivas Subesi,H√ºmeyra GE√áƒ∞Cƒ∞),Sivas,ƒ∞√ß Anadolu,39.7477,37.0179,1021217,Kezban G√ñ≈ûELƒ∞,163,JTƒ∞,Sƒ∞GARA,NaN,NaN,2017-01-06 13:44:22,2017-01-06 13:44:45,K

### 17- Verisetinde BRANCH ƒ± Balƒ±kesir Subesi olan satƒ±rlarƒ± bulalƒ±m

In [36]:
df["BRANCH"].head()

0     Kocaeli Subesi
1     Antalya Subesi
2    ƒ∞stanbul Subesi
3    ƒ∞stanbul Subesi
4       ƒ∞zmir Subesi
Name: BRANCH, dtype: object

In [37]:
df["BRANCH"].unique()

array(['Kocaeli Subesi', 'Antalya Subesi', 'ƒ∞stanbul Subesi',
       'ƒ∞zmir Subesi', 'Elazƒ±ƒü Subesi', 'Malatya Subesi', 'Manisa Subesi',
       'Muƒüla Subesi', 'Mu≈ü Subesi', 'Adana Subesi', 'Sakarya Subesi',
       'Zonguldak Subesi', 'Balƒ±kesir Subesi', 'Kƒ±rƒ±kkale Subesi',
       'Gaziantep Subesi', 'Osmaniye Subesi', 'Mersin Subesi',
       'Kastamonu Subesi', 'Batman Subesi', 'Tekirdaƒü Subesi',
       '≈ûanlƒ±urfa Subesi', 'Niƒüde Subesi', 'Ankara Subesi',
       'Eski≈üehir Subesi', 'Diyarbakƒ±r Subesi', 'Iƒüdƒ±r Subesi',
       'Isparta Subesi', 'Bursa Subesi', 'Kahramanmara≈ü Subesi',
       'Denizli Subesi', 'Mardin Subesi', 'Afyonkarahisar Subesi',
       'Erzurum Subesi', 'Sivas Subesi', 'Hatay Subesi', 'Ordu Subesi',
       '≈ûƒ±rnak Subesi', 'U≈üak Subesi', 'Konya Subesi', '√áorum Subesi',
       'Samsun Subesi', 'Edirne Subesi', '√áanakkale Subesi',
       'Kayseri Subesi', 'Aydƒ±n Subesi', 'Bolu Subesi', 'Giresun Subesi',
       'Tokat Subesi', 'Adƒ±yaman Subesi', 'Kƒ±r≈üehir Subesi',
       'Yozgat Subesi', 'Trabzon Subesi', 'Van Subesi', 'Aƒürƒ± Subesi',
       'K√ºtahya Subesi', 'Kars Subesi', 'G√ºm√º≈ühane Subesi',
       'Sinop Subesi', 'Nev≈üehir Subesi', 'Karab√ºk Subesi',
       'Bayburt Subesi', 'Amasya Subesi', 'Siirt Subesi', 'Burdur Subesi',
       'Aksaray Subesi', 'Rize Subesi', 'Artvin Subesi',
       'Kƒ±rklareli Subesi', 'Hakkari Subesi', 'D√ºzce Subesi',
       'Kilis Subesi', 'Bilecik Subesi', 'Erzincan Subesi',
       '√áankƒ±rƒ± Subesi', 'Bartƒ±n Subesi', 'Yalova Subesi',
       'Bitlis Subesi', 'Karaman Subesi', 'Bing√∂l Subesi', nan,
       'Ardahan Subesi', 'Tunceli Subesi'], dtype=object)

In [38]:
df[df["BRANCH"] == "Balƒ±kesir Subesi"].head(3)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
15,9625.0,5780.0,SALKIM DOMATES,17865,2017-01-06,0.945,5.20,4.91,4.55,12.0,Balƒ±kesir Subesi,Sami KASIMOVA,Balƒ±kesir,Ege,39.6484,27.8826,74884,Miray KO√áOƒûLU,A25,HAL,MEYVE SEBZE,SEBZE,NaN,2017-01-07 11:12:54,2017-01-07 11:13:35,K
16,9748.0,5715.0,PATATES,17902,2017-01-06,2.790,2.45,6.84,6.33,12.0,Balƒ±kesir Subesi,Sami KASIMOVA,Balƒ±kesir,Ege,39.6484,27.8826,521495,Bilal PORSUK,A25,HAL,MEYVE SEBZE,SEBZE,NaN,2017-01-07 14:28:00,2017-01-07 14:29:39,E
62,9745.0,10429.0,YUDUM AYCICEK YAGI 5 LT TNK,17902,2017-01-06,1.000,20.49,20.49,18.97,12.0,Balƒ±kesir Subesi,Sami KASIMOVA,Balƒ±kesir,Ege,39.6484,27.8826,521495,Bilal PORSUK,152,YUDUM,GIDA,SIVI YAƒûLAR,AY√áƒ∞√áEK,2017-01-07 14:28:00,2017-01-07 14:29:39,E

### 18- Verisetinde Balƒ±kesir Subesinde LINENETTOTAL i 2 den d√ºs√ºk olan satƒ±rlarƒ± bulalƒ±m

In [39]:
df["LINENETTOTAL"] < 2

0         False
1         False
2          True
3          True
4          True
          ...
611103     True
611104     True
611105     True
611106     True
611107     True
Name: LINENETTOTAL, Length: 611108, dtype: bool

In [40]:
df[df["LINENETTOTAL"] < 2].head(1)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
2,11335.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.4,0.4,0.37,40.0,ƒ∞stanbul Subesi,ƒ∞smet SARTIK,ƒ∞stanbul,Marmara,41.0053,28.977,656969,Yaƒüƒ±z KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E

In [41]:
df["BRANCH"] == "Balƒ±kesir Subesi"

0         False
1         False
2         False
3         False
4         False
          ...
611103    False
611104    False
611105    False
611106    False
611107    False
Name: BRANCH, Length: 611108, dtype: bool

In [42]:
df[df["BRANCH"] == "Balƒ±kesir Subesi"].head(1)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
15,9625.0,5780.0,SALKIM DOMATES,17865,2017-01-06,0.945,5.2,4.91,4.55,12.0,Balƒ±kesir Subesi,Sami KASIMOVA,Balƒ±kesir,Ege,39.6484,27.8826,74884,Miray KO√áOƒûLU,A25,HAL,MEYVE SEBZE,SEBZE,NaN,2017-01-07 11:12:54,2017-01-07 11:13:35,K

In [43]:
df[(df["LINENETTOTAL"] < 2) & (df["BRANCH"] == "Balƒ±kesir Subesi")].head(1)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
188,9624.0,5737.0,PIRASA,17865,2017-01-06,1.1,1.6,1.76,1.63,12.0,Balƒ±kesir Subesi,Sami KASIMOVA,Balƒ±kesir,Ege,39.6484,27.8826,74884,Miray KO√áOƒûLU,A25,HAL,MEYVE SEBZE,SEBZE,NaN,2017-01-07 11:12:54,2017-01-07 11:13:35,K

### 19- Verisetindeki Sutunlardan ITEMNAME => URUN_ADI , ITEMCODE=> URUN_ID,BRANCH=>SUBE_ADI olarak deƒüi≈ütirin

In [44]:
#### sutun isimlerini deƒüi≈ütirmek i√ßin kullanƒ±lan method rename
df.rename(columns = {"ITEMNAME":"URUN_ADI",
                    "ITEMCODE":"URUN_ID",
                    "BRANCH" :"SUBE_ADI"},inplace = True)

In [45]:
df.head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.0,2.0,1.85,52.0,Kocaeli Subesi,Ey√ºp Cƒ∞NE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRƒ∞TE,ƒ∞√áECEK,GAZLI ƒ∞√áECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E

### 20- Verisetimizin 100-103 arasƒ±ndaki satƒ±rlarƒ±nƒ±n ID den LINENETTOTAL a kadar olan sutunlardaki deƒüerlerini yazdƒ±rƒ±nƒ±z.

In [46]:
df.loc[100,"ID"]

np.float64(662.0)

In [47]:
df.loc[100:103,"ID"]

100     662.0
101    5059.0
102    9514.0
103    9208.0
Name: ID, dtype: float64

In [48]:
df.loc[100,"ID":"LINENETTOTAL"]

ID                                               662.0
URUN_ID                                        23467.0
URUN_ADI        BURDAN 30 LU BUYUK BOY KAPAKLI YUMURTA
FICHENO                                          15772
DATE_                              2017-01-02 00:00:00
AMOUNT                                             1.0
PRICE                                             9.95
LINENETTOTAL                                      9.95
Name: 100, dtype: object

In [49]:
df.loc[100:103,"ID":"LINENETTOTAL"]

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL
100,662.0,23467.0,BURDAN 30 LU BUYUK BOY KAPAKLI YUMURTA,15772,2017-01-02,1.0,9.95,9.95
101,5059.0,446.0,ULKER COKOKREM 700GR.-1202-,16839,2017-01-05,1.0,8.25,8.25
102,9514.0,2660.0,NESTLE NESQUIK 500 GR %20 BEDAVA,17836,2017-01-06,1.0,5.90,5.90
103,9208.0,263.0,YAHYAOGLU 15 LI YUMURTA,17752,2017-01-06,1.0,4.85,4.85

In [50]:
df.loc[100:103,"LINENETTOTAL":]

,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
100,9.95,9.22,3.0,Afyonkarahisar Subesi,Rahime ARPACIOGLU,Afyonkarahisar,Ege,38.7507,30.5567,747931,Remziye ƒ∞NCƒ∞KAPI,172,BURDAN,S√úT KAHVALTILIK,YUMURTA,NaN,2017-01-03 18:30:16,2017-01-03 18:31:44,K
101,8.25,7.64,40.0,ƒ∞stanbul Subesi,ƒ∞smet SARTIK,ƒ∞stanbul,Marmara,41.0053,28.9770,327636,Hatice TEKƒ∞NSƒ∞Z,146,√úLKER,S√úT KAHVALTILIK,KAHVALTILIK,KREM √áƒ∞KOLATA,2017-01-06 17:36:36,2017-01-06 17:38:22,K
102,5.90,5.46,42.0,Kahramanmara≈ü Subesi,Masal ATASEVEN,Kahramanmara≈ü,Akdeniz,37.5858,36.9371,575440,Duygu ERZƒ∞NCANLI,97,NESTLE,S√úT KAHVALTILIK,KAHVALTILIK,KREM √áƒ∞KOLATA,2017-01-07 19:24:42,2017-01-07 19:24:52,K
103,4.85,4.49,63.0,Ordu Subesi,Veli KARTALK,Ordu,Karadeniz,40.9839,37.8764,251502,Kadir KARTALOƒûLU,341,YAHYAOƒûLU,S√úT KAHVALTILIK,YUMURTA,NaN,2017-01-07 14:16:09,2017-01-07 14:16:38,E

In [51]:
df.loc[100,"LINENETTOTAL":]

LINENETTOTAL                       9.95
LINENET                            9.22
BRANCHNR                            3.0
SUBE_ADI          Afyonkarahisar Subesi
SALESMAN              Rahime ARPACIOGLU
CITY                     Afyonkarahisar
REGION                              Ege
LATITUDE                        38.7507
LONGITUDE                       30.5567
CLIENTCODE                       747931
CLIENTNAME             Remziye ƒ∞NCƒ∞KAPI
BRANDCODE                           172
BRAND                            BURDAN
CATEGORY_NAME1          S√úT KAHVALTILIK
CATEGORY_NAME2                  YUMURTA
CATEGORY_NAME3                      NaN
STARTDATE           2017-01-03 18:30:16
ENDDATE             2017-01-03 18:31:44
GENDER                                K
Name: 100, dtype: object

### 21- Verisetindeki CATEGORY_NAME3 sutununu verisetinden silelim

In [52]:
df.drop("CATEGORY_NAME3",axis = 1, inplace=True)

### 22- Verisetinde URUN_ID sutunun en b√ºy√ºk deƒüerini bulun ve ona g√∂re bo≈ü deƒüerlere bir deƒüer atayƒ±n

In [53]:
df["URUN_ID"].max()

23602.0

In [54]:
df["URUN_ID"] = df["URUN_ID"].fillna(99999)

In [55]:
df.URUN_ID.isnull().any()

np.False_

### 23- Verisetinde Bulunan URUN_ADI kƒ±smƒ±ndaki deƒüerlere "Bƒ∞Lƒ∞NMEYEN √úR√úN" atayƒ±n

In [56]:
df["URUN_ADI"].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
611103    False
611104    False
611105    False
611106    False
611107    False
Name: URUN_ADI, Length: 611108, dtype: bool

In [57]:
df[df["URUN_ADI"].isnull()].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
49,5139.0,99999.0,NaN,16853,2017-01-05,1.0,1.75,1.75,1.48,64.0,Osmaniye Subesi,Muhammed Ali KU≈ûOGLU,Osmaniye,Akdeniz,37.213,36.1763,736930,Y√ºksel GEN√áBAY,NaN,NaN,NaN,NaN,2017-01-06 19:12:01,2017-01-06 19:12:36,K

In [58]:
df.loc[df["URUN_ADI"].isnull(),"URUN_ADI"]

49        NaN
50        NaN
51        NaN
52        NaN
53        NaN
         ...
608865    NaN
608866    NaN
608867    NaN
608868    NaN
608869    NaN
Name: URUN_ADI, Length: 7167, dtype: object

In [59]:
df.loc[(df["URUN_ADI"].isnull()),"URUN_ADI"] = "Bƒ∞Lƒ∞NMEYEN √úR√úN"

In [60]:
df.loc[49,"URUN_ADI"]

'Bƒ∞Lƒ∞NMEYEN √úR√úN'

### 24- Verisetinde Bulunan CLIENTCODE sutunun bo≈ü deƒüerlerine "#unk999"atayƒ±n

In [61]:
df["CLIENTCODE"].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
611103    False
611104    False
611105    False
611106    False
611107    False
Name: CLIENTCODE, Length: 611108, dtype: bool

In [62]:
df[df["CLIENTCODE"].isnull()].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
51,9460.0,99999.0,Bƒ∞Lƒ∞NMEYEN √úR√úN,17825,2017-01-06,1.0,2.57,2.57,2.38,73.0,Tekirdaƒü Subesi,Deniz ≈ûƒ∞≈ûMEN,Tekirdaƒü,Marmara,40.9833,27.5167,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-07 18:44:01,2017-01-07 18:44:39,NaN

In [63]:
df.loc[(df["CLIENTCODE"].isnull()),"CLIENTCODE"]

51        NaN
94        NaN
117       NaN
124       NaN
143       NaN
         ...
610913    NaN
610914    NaN
610968    NaN
610971    NaN
611071    NaN
Name: CLIENTCODE, Length: 18348, dtype: object

In [64]:
df.loc[(df["CLIENTCODE"].isnull()),"CLIENTCODE"] = "#unk999"

In [65]:
df.loc[[51,94,117],"CLIENTCODE"]

51     #unk999
94     #unk999
117    #unk999
Name: CLIENTCODE, dtype: object

### 25- Verisetinde Bulunan CLIENTNAME sutunun bo≈ü deƒüerlerine "BILINMEYEN MUSTERI" atayƒ±n

In [66]:
df.CLIENTNAME.isnull()

0         False
1         False
2         False
3         False
4         False
          ...
611103    False
611104    False
611105    False
611106    False
611107    False
Name: CLIENTNAME, Length: 611108, dtype: bool

In [67]:
df[df.CLIENTNAME.isnull()].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
51,9460.0,99999.0,Bƒ∞Lƒ∞NMEYEN √úR√úN,17825,2017-01-06,1.0,2.57,2.57,2.38,73.0,Tekirdaƒü Subesi,Deniz ≈ûƒ∞≈ûMEN,Tekirdaƒü,Marmara,40.9833,27.5167,#unk999,NaN,NaN,NaN,NaN,NaN,2017-01-07 18:44:01,2017-01-07 18:44:39,NaN

In [68]:
df.loc[(df["CLIENTNAME"].isnull()),"CLIENTNAME"]

51        NaN
94        NaN
117       NaN
124       NaN
143       NaN
         ...
610913    NaN
610914    NaN
610968    NaN
610971    NaN
611071    NaN
Name: CLIENTNAME, Length: 18365, dtype: object

In [69]:
df.loc[(df["CLIENTNAME"].isnull()),"CLIENTNAME"] = "BILINMEYEN MUSTERI"

### 26- Verisetinde CATEGORY_NAME1 i dolu oup CATEGORY_NAME2 bo≈ü olan satƒ±rlar var bu satƒ±rlarda CATEGORY_NAME2 kƒ±smƒ±na CATEGORY_NAME1 deki deƒüeri atayalƒ±m

In [70]:
df.loc[[55,1302],["CATEGORY_NAME1","CATEGORY_NAME2"]]

     CATEGORY_NAME1 CATEGORY_NAME2
55           Sƒ∞GARA            NaN
1302       KOZMETƒ∞K            NaN

In [71]:
df[df["CATEGORY_NAME2"].isnull()].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
49,5139.0,99999.0,Bƒ∞Lƒ∞NMEYEN √úR√úN,16853,2017-01-05,1.0,1.75,1.75,1.48,64.0,Osmaniye Subesi,Muhammed Ali KU≈ûOGLU,Osmaniye,Akdeniz,37.213,36.1763,736930,Y√ºksel GEN√áBAY,NaN,NaN,NaN,NaN,2017-01-06 19:12:01,2017-01-06 19:12:36,K

In [72]:
df["CATEGORY_NAME1"].notnull()

0         True
1         True
2         True
3         True
4         True
          ...
611103    True
611104    True
611105    True
611106    True
611107    True
Name: CATEGORY_NAME1, Length: 611108, dtype: bool

In [73]:
(df[(df["CATEGORY_NAME1"].notnull() & df["CATEGORY_NAME2"].isnull())])[["CATEGORY_NAME1","CATEGORY_NAME2"]].head(3)

   CATEGORY_NAME1 CATEGORY_NAME2
55         Sƒ∞GARA            NaN
69         Sƒ∞GARA            NaN
70         Sƒ∞GARA            NaN

In [74]:
a=(df[(df["CATEGORY_NAME1"].notnull() & df["CATEGORY_NAME2"].isnull())])["CATEGORY_NAME1"]

In [75]:
df.loc[(df["CATEGORY_NAME1"].notnull() & df["CATEGORY_NAME2"].isnull()),"CATEGORY_NAME2"] = a

In [76]:
df.loc[[55,1302],["CATEGORY_NAME1","CATEGORY_NAME2"]]

     CATEGORY_NAME1 CATEGORY_NAME2
55           Sƒ∞GARA         Sƒ∞GARA
1302       KOZMETƒ∞K       KOZMETƒ∞K

### 27- Verisetinde Alƒ±≈üveri≈ü Yapan Ki≈üilerin Cinsiyet Sutunundaki NaN deƒüerleri U ile Deƒüi≈ütirin

In [77]:
df["GENDER"].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
611103    False
611104    False
611105    False
611106    False
611107    False
Name: GENDER, Length: 611108, dtype: bool

In [78]:
df[df["GENDER"].isnull()].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
51,9460.0,99999.0,Bƒ∞Lƒ∞NMEYEN √úR√úN,17825,2017-01-06,1.0,2.57,2.57,2.38,73.0,Tekirdaƒü Subesi,Deniz ≈ûƒ∞≈ûMEN,Tekirdaƒü,Marmara,40.9833,27.5167,#unk999,BILINMEYEN MUSTERI,NaN,NaN,NaN,NaN,2017-01-07 18:44:01,2017-01-07 18:44:39,NaN

In [79]:
df.loc[(df["GENDER"].isnull()),"GENDER"][51]

nan

In [80]:
df.loc[(df["GENDER"].isnull()),"GENDER"] = "U"

In [81]:
df.loc[51,"GENDER"]

'U'

### 28-Verisetinde BRANDCODE ve BRAND sutunlarƒ±nda sutunlarƒ±nda bo≈ü deƒüerlere #UN999 ve UNNBRD deƒüerlerini atayalƒ±m

In [82]:
df["BRANDCODE"].isnull()

0         False
1          True
2         False
3         False
4         False
          ...
611103     True
611104     True
611105     True
611106     True
611107    False
Name: BRANDCODE, Length: 611108, dtype: bool

In [83]:
df[df["BRANDCODE"].isna()].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,ƒ∞lhan √ñRENLƒ∞,Antalya,Akdeniz,36.8841,30.7056,131464,ƒ∞smet ≈ûINGIR,NaN,NaN,ƒ∞√áECEK,√áAY KAHVE,2017-01-07 11:04:34,2017-01-07 11:05:37,E

In [84]:
df.loc[df["BRANDCODE"].isna(),"BRANDCODE"]

1         NaN
5         NaN
7         NaN
8         NaN
49        NaN
         ...
611102    NaN
611103    NaN
611104    NaN
611105    NaN
611106    NaN
Name: BRANDCODE, Length: 35557, dtype: object

In [85]:
df.loc[(df["BRANDCODE"].isnull()),"BRANDCODE"] = "#UN999"

In [86]:
df.loc[(df["BRAND"].isnull()),"BRAND"] = "UNNBRD"

### 29-Verisetinde CATEGORY_NAME1  ve CATEGORY_NAME2 sutunlarƒ±nda sutunlarƒ±nda bo≈ü deƒüerlere UNKCATG deƒüerlerini atayalƒ±m

In [87]:
df[(df["CATEGORY_NAME2"].isnull()) & (df["CATEGORY_NAME1"].isnull())].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
49,5139.0,99999.0,Bƒ∞Lƒ∞NMEYEN √úR√úN,16853,2017-01-05,1.0,1.75,1.75,1.48,64.0,Osmaniye Subesi,Muhammed Ali KU≈ûOGLU,Osmaniye,Akdeniz,37.213,36.1763,736930,Y√ºksel GEN√áBAY,#UN999,UNNBRD,NaN,NaN,2017-01-06 19:12:01,2017-01-06 19:12:36,K

In [88]:
df.loc[(df["CATEGORY_NAME1"].isnull()),"CATEGORY_NAME1"] = "UNKCATG"

In [89]:
df.loc[(df["CATEGORY_NAME2"].isnull()),"CATEGORY_NAME2"] = "UNKCATG"

### 30- Verisetinde Kalan Bo≈ü Deƒüerleri Silelim

In [90]:
df=df.dropna()

### 31- Maƒüazamƒ±zda √áalƒ±san Eleman Sayƒ±sƒ±nƒ± Bulunuz

In [91]:
df["SALESMAN"].nunique()

1331

### 32-≈ûirketimizin Hangi B√∂lgelerde Ka√ß Subesi Var Onu Yazdƒ±ralƒ±m

In [92]:
df.groupby("REGION").agg({"SUBE_ADI":"nunique"})

                   SUBE_ADI
REGION
Akdeniz                   8
Doƒüu Anadolu             14
Ege                       9
G√ºneydoƒüu Anadolu         9
Karadeniz                18
Marmara                  10
ƒ∞√ß Anadolu               13

### 33-En √áok √úcret Alan Fi≈ü No ve o fi≈üin toplam tutarƒ±nƒ± yazdƒ±rƒ±n.

In [93]:
df.groupby("FICHENO").agg({"LINENETTOTAL":"sum"}).sort_values("LINENETTOTAL", ascending = False).head()

         LINENETTOTAL
FICHENO
144857        8556.00
65232         5568.40
52800         3642.52
23212         2960.79
107960        2168.33

In [94]:
df.groupby("FICHENO").agg({"LINENETTOTAL":"sum"}).sort_values("LINENETTOTAL", ascending = False).head().index[0]

np.int64(144857)

In [95]:
df.groupby("FICHENO").agg({"LINENETTOTAL":"sum"}).sort_values("LINENETTOTAL", ascending = False).head().values[0][0]

np.float64(8556.0)

### 34-  ≈ûirketimizin Hangi B√∂lgede Ne Kadar M√º≈üterisi Var onu yazdƒ±ralƒ±m

In [96]:
df.groupby("REGION").agg({"CLIENTCODE":"nunique"})

                   CLIENTCODE
REGION
Akdeniz                 14611
Doƒüu Anadolu             9178
Ege                     16219
G√ºneydoƒüu Anadolu       12566
Karadeniz               13174
Marmara                 27423
ƒ∞√ß Anadolu              17633

### 35- En √áok √ºr√ºn Alan Fi≈ü No

In [97]:
df.groupby("FICHENO").agg({"AMOUNT":"sum"}).sort_values("AMOUNT",ascending=False)

           AMOUNT
FICHENO
65232    1017.000
59816     631.242
122415    316.000
138177    258.000
37557     246.000
...           ...
67559       0.010
67484       0.005
136847      0.002
100426      0.002
140432      0.002

[142611 rows x 1 columns]

### 36-En √áok Ciro Yapan ≈ûube ve o ≈üubenin m√º≈üteri sayƒ±sƒ±nƒ± bulun

In [98]:
df.groupby("SUBE_ADI").agg({"LINENETTOTAL":"sum",
                         "CLIENTCODE":"nunique"}).sort_values("LINENETTOTAL",ascending=False)

                 LINENETTOTAL  CLIENTCODE
SUBE_ADI
ƒ∞stanbul Subesi     458500.33       19213
Ankara Subesi       167015.15        8169
ƒ∞zmir Subesi        131814.45        6641
Bursa Subesi         81148.86        4678
Antalya Subesi       75283.40        3721
...                       ...         ...
Bartƒ±n Subesi         4758.74         320
Kilis Subesi          4663.51         262
Ardahan Subesi        2887.15         172
Tunceli Subesi        2586.63         140
Bayburt Subesi        2044.47         123

[81 rows x 2 columns]

### 37-M√º≈üterilerin Kasada En √áok Vakit Ge√ßirdikleri ≈ûube

In [99]:
df[["ENDDATE","STARTDATE"]].dtypes

ENDDATE      datetime64[ns]
STARTDATE    datetime64[ns]
dtype: object

In [100]:
import datetime

In [101]:
df["PASSING_TIME"] = df["ENDDATE"] - df["STARTDATE"]

/tmp/ipython-input-1625048965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PASSING_TIME"] = df["ENDDATE"] - df["STARTDATE"]

In [102]:
df["PASSING_TIME"].head(1)

0   0 days 00:01:02
Name: PASSING_TIME, dtype: timedelta64[ns]

In [103]:
df["PASSING_TIME2"] = df["PASSING_TIME"].apply(lambda x : str(x))

/tmp/ipython-input-3887188416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PASSING_TIME2"] = df["PASSING_TIME"].apply(lambda x : str(x))

In [104]:
df["PASSING_TIME2"].head(1)

0    0 days 00:01:02
Name: PASSING_TIME2, dtype: object

In [105]:
"0 days 00:01:02".split()

['0', 'days', '00:01:02']

In [106]:
'00:01:02'.split(":")

['00', '01', '02']

In [107]:
def second(str_date):
    a= str_date.split()
    b= a[2].split(":")
    c=(int(b[0])*3600)+(int(b[1])*60)+int(b[2])
    return c

In [108]:
df["PASSING_TIME3"] = df["PASSING_TIME2"].apply(second)

/tmp/ipython-input-348435859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PASSING_TIME3"] = df["PASSING_TIME2"].apply(second)

In [109]:
df["PASSING_TIME3"].head(3)

0    62
1    63
2    58
Name: PASSING_TIME3, dtype: int64

In [110]:
fis=df.groupby(["FICHENO","SUBE_ADI"]).agg({"PASSING_TIME3":"mean"})
fis.head(3)

                         PASSING_TIME3
FICHENO SUBE_ADI
15560   Batman Subesi             40.0
15561   ƒ∞stanbul Subesi           40.0
15562   Adƒ±yaman Subesi           37.0

In [111]:
fis = fis.reset_index()
fis.head(3)

   FICHENO         SUBE_ADI  PASSING_TIME3
0    15560    Batman Subesi           40.0
1    15561  ƒ∞stanbul Subesi           40.0
2    15562  Adƒ±yaman Subesi           37.0

In [112]:
fis.groupby("SUBE_ADI").agg({"PASSING_TIME3":"mean"}).sort_values("PASSING_TIME3",ascending=False)

                  PASSING_TIME3
SUBE_ADI
Hatay Subesi          35.742690
Erzincan Subesi       32.107914
Kƒ±r≈üehir Subesi       31.934091
Adƒ±yaman Subesi       31.866732
Kayseri Subesi        31.261662
...                         ...
D√ºzce Subesi          27.292845
G√ºm√º≈ühane Subesi      27.069686
Bilecik Subesi        26.860590
Tunceli Subesi        26.708333
Bolu Subesi           26.401460

[81 rows x 1 columns]

### 38-Haftanƒ±n G√ºnleri Bas Alƒ±narak Ortalama cironun en y√ºksek olduƒüu g√ºn hangisi

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 611107 entries, 0 to 611107
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              611107 non-null  float64
 1   URUN_ID         611107 non-null  float64
 2   URUN_ADI        611107 non-null  object
 3   FICHENO         611107 non-null  int64
 4   DATE_           611107 non-null  datetime64[ns]
 5   AMOUNT          611107 non-null  float64
 6   PRICE           611107 non-null  float64
 7   LINENETTOTAL    611107 non-null  float64
 8   LINENET         611107 non-null  float64
 9   BRANCHNR        611107 non-null  float64
 10  SUBE_ADI        611107 non-null  object
 11  SALESMAN        611107 non-null  object
 12  CITY            611107 non-null  object
 13  REGION          611107 non-null  object
 14  LATITUDE        611107 non-null  float64
 15  LONGITUDE       611107 non-null  float64
 16  CLIENTCODE      611107 non-null  object
 17  CLIENTNAME      611107 non-null  object
 18  BRANDCODE       611107 non-null  object
 19  BRAND           611107 non-null  object
 20  CATEGORY_NAME1  611107 non-null  object
 21  CATEGORY_NAME2  611107 non-null  object
 22  STARTDATE       611107 non-null  datetime64[ns]
 23  ENDDATE         611107 non-null  datetime64[ns]
 24  GENDER          611107 non-null  object
 25  PASSING_TIME    611107 non-null  timedelta64[ns]
 26  PASSING_TIME2   611107 non-null  object
 27  PASSING_TIME3   611107 non-null  int64
dtypes: datetime64[ns](3), float64(9), int64(2), object(13), timedelta64[ns](1)
memory usage: 135.2+ MB

In [114]:
### verisetinde orjinal sutunlar lazƒ±m olur diye baska bir sutun olusturuyoruz type i object olan
df["DATE_2"]=df["DATE_"].apply(lambda x: str(x))

/tmp/ipython-input-1638675645.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["DATE_2"]=df["DATE_"].apply(lambda x: str(x))

In [115]:
datetime.datetime.strptime("2021-04-11","%Y-%m-%d")

datetime.datetime(2021, 4, 11, 0, 0)

In [116]:
datetime.datetime.strptime("2021-04-11","%Y-%m-%d").weekday()

6

In [117]:
datetime.date(2021,4,11).weekday()

6

In [118]:
### g√ºnleri bulacaƒüƒ±mƒ±z fonksiyonu tanƒ±mlƒ±yoruz
def day(str_date,date_format):
    import datetime
    dayName = ["Pazartesi","Salƒ±","√áar≈üamba","Per≈üembe","Cuma","Cumartesi","Pazar"]
    day = datetime.datetime.strptime(str_date, date_format).weekday()
    return(dayName[day])

In [119]:
### Haftanƒ±n Hangi g√ºn√º olduƒüunu belirten bir sutun olusturuyoruz
df["DAY"]= df["DATE_2"].apply(lambda x: day(x.split()[0],"%Y-%m-%d"))

/tmp/ipython-input-1016108932.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["DAY"]= df["DATE_2"].apply(lambda x: day(x.split()[0],"%Y-%m-%d"))

In [120]:
### en √ßok alƒ±≈üveri≈ü yapƒ±lan g√ºnleri buluyoruz
df.groupby("DAY").agg({"LINENETTOTAL":"sum"}).sort_values("LINENETTOTAL",ascending=False)

           LINENETTOTAL
DAY
Salƒ±          425992.18
Per≈üembe      398457.21
Cuma          361798.82
Cumartesi     352881.68
Pazartesi     332654.96
Pazar         319209.36
√áar≈üamba      287497.63

### 39-Ayƒ±n Hangi G√ºnlerinde En Y√ºksek √áiro Yapƒ±lmƒ±s?

In [121]:
### ayƒ±n g√ºnlerinin g√∂steren bir sutun olusturuyoruz
df["MONTH_DAY"] = df["DATE_2"].apply(lambda x: int((x.split()[0]).split("-")[2]))

/tmp/ipython-input-719322369.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["MONTH_DAY"] = df["DATE_2"].apply(lambda x: int((x.split()[0]).split("-")[2]))

In [122]:
## ve hangi g√ºn ne kadarlƒ±k bir alƒ±≈üveri≈ü yapƒ±lmƒ±s oan bakƒ±yoruz
df.groupby("MONTH_DAY").agg({"LINENETTOTAL":"sum"}).sort_values("LINENETTOTAL",ascending=False)

           LINENETTOTAL
MONTH_DAY
14            100391.21
24             98116.15
28             97252.37
21             94658.44
7              93957.64
23             93415.45
16             92422.14
17             92041.55
10             91257.49
20             88947.85
9              87477.05
19             87167.96
25             86372.24
26             85670.87
12             82114.49
18             81918.82
27             81564.98
11             77848.01
6              76284.51
15             75341.61
13             74989.43
8              73683.47
5              73322.67
22             72527.68
4              72239.83
2              69626.53
31             63888.96
3              61029.77
30             55075.01
29             49932.44
1              47955.22

### 40- G√ºn√ºn Hangi Saatlerinde Yoƒüunluk daha Fazla Olmakta

In [ ]:
### part time eleman alacaƒüƒ±z ama hangi saatler arasƒ±nda alƒ±rsak daha fazla i≈ü yapar ve maliyeti ve yoƒüunluƒüu d√º≈ü√ºr√ºz

In [123]:
### fi≈üin baslangƒ±√ß saatlerini string e √ßevirdik
df["STARTDATE2"]=df["STARTDATE"].apply(lambda x: str(x))

/tmp/ipython-input-3883519595.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["STARTDATE2"]=df["STARTDATE"].apply(lambda x: str(x))

In [124]:
### yapacaƒüƒ±mƒ±z split i≈ülemi i√ßin bir g√∂z attƒ±k
df["STARTDATE2"].head()

0    2017-01-08 16:16:11
1    2017-01-07 11:04:34
2    2017-01-04 14:00:03
3    2017-01-04 14:00:03
4    2017-01-06 14:00:30
Name: STARTDATE2, dtype: object

In [125]:
### sadece saat kƒ±sƒ±mlarƒ±nƒ± aldƒ±k
df["SHOPPING_HOUR"] = df["STARTDATE2"].apply(lambda x : ((x.split()[1]).split(":")[0]))

/tmp/ipython-input-609329636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SHOPPING_HOUR"] = df["STARTDATE2"].apply(lambda x : ((x.split()[1]).split(":")[0]))

In [126]:
df[["SHOPPING_HOUR","STARTDATE2"]].head(3)

  SHOPPING_HOUR           STARTDATE2
0            16  2017-01-08 16:16:11
1            11  2017-01-07 11:04:34
2            14  2017-01-04 14:00:03

In [127]:
df.groupby("SHOPPING_HOUR").agg({"CLIENTCODE":"nunique"}).sort_values("CLIENTCODE",ascending=False)

               CLIENTCODE
SHOPPING_HOUR
18                  14565
17                  14423
16                  13539
15                  12096
19                  11638
14                  10956
13                  10250
12                   8848
11                   7655
20                   6386
10                   6049
09                   3815
21                   1800
08                   1149
07                    123
22                     27
01                      4
00                      2

### 41-Kategori ƒ∞simlerini Yazdƒ±rƒ±n. ƒ∞√ßlerinden Bir Tanesine ait alt urunleri bulup bu kategori arasƒ±nda urunlerin satƒ±≈ü y√ºzdelerini hesaplayƒ±n

In [128]:
### kategorilerin isimleri
df["CATEGORY_NAME1"].unique()

array(['ƒ∞√áECEK', 'GIDA', 'S√úT KAHVALTILIK', 'MEYVE SEBZE', 'UNKCATG',
       'Sƒ∞GARA', 'KOZMETƒ∞K', 'ET TAVUK', 'EV', 'KAƒûIT', 'BEBEK',
       'DETERJAN TEMƒ∞ZLƒ∞K', 'PET'], dtype=object)

In [129]:
## kategorilerden gƒ±danƒ±n alt kategori isimleri
df[df["CATEGORY_NAME1"] == "GIDA"]["CATEGORY_NAME2"].unique()

array(['SAKIZ SEKERLEME', 'CORBA BULYON', 'MAKARNA', 'UNLU MAM√úLLER',
       'SIVI YAƒûLAR', 'TOZ TATLI', '√áƒ∞KOLATA GOFRET', 'DONDURULMU≈û GIDA',
       'HAZIR YEMEKLER', 'B√úSKƒ∞Vƒ∞ √áEREZ', 'BAKLƒ∞YAT', 'TUZ BAHARAT',
       'BAYRAMLIK', '√áƒ∞KOLATA'], dtype=object)

In [130]:
gida_alt_kategori = df[df["CATEGORY_NAME1"] == "GIDA"].groupby("CATEGORY_NAME2").agg({"AMOUNT":"sum"})
gida_alt_kategori.head(3)

                   AMOUNT
CATEGORY_NAME2
BAKLƒ∞YAT        30577.813
BAYRAMLIK         249.000
B√úSKƒ∞Vƒ∞ √áEREZ   93526.029

In [131]:
gida_alt_kategori["PERCENTAGE"] = gida_alt_kategori["AMOUNT"] \
.apply(lambda x: 100*(x/(gida_alt_kategori["AMOUNT"].sum())))

In [132]:
gida_alt_kategori["PERCENTAGE"].head()

CATEGORY_NAME2
BAKLƒ∞YAT            10.248462
BAYRAMLIK            0.083455
B√úSKƒ∞Vƒ∞ √áEREZ       31.346192
CORBA BULYON         2.570343
DONDURULMU≈û GIDA     0.673001
Name: PERCENTAGE, dtype: float64